<li class="post" data-id="{{this.id}}" >
    <div class="postContent" >
        {{#if this.isEditing}}
            <div class="region, addLink">
                <div>
                    <input type="text" class="postAddressInput" placeholder="web address...">
                    <input type="text" class="postTitleInput" placeholder="title...">
                </div>
                <div>
                    <textarea class="postDescriptionInput" placeholder="description..." ></textarea>
                </div>
                <div>
                    <button class="postCommitEditButton" >commit</button>
                    <button class="postCancelEditButton" >cancel</button>
                </div>
            </div>
        {{else}}
            <div class="postRating" >
                <div>
                    <button class="postRatingVoteUpButton" >&#x25B2</button>
                </div>
                <p>{{this.totalRating}}</p>
                <div>
                    <button class="postRatingVoteDownButton" >&#x25BC</button>
                </div>
            </div>

	        <div class="postDetail" >
                <header>
                    <a href="{{this.url}}" >{{this.title}}</a>
                </header>
                <div class="postDescription" >
                    <p>{{this.description}}</p>
                    <input type="text" class="postCommentInput" />
                    <button class="postAddCommentButton" >add comment</button>
                </div>
            </div>

            <div id="postInteraction">
                <div>
                    <button class="postDeleteButton" >X</button>
                </div>
                <div>
                    <button class="commentPost">C</button>
                </div>
            </div>
            <form id="loginDialog" class="dialog" title="login" method="none" >
                <div>
                    <label for="loginDialogLoginInput">Login Name</label>
                    <input type="text" id="loginDialogLoginInput" />
                </div>
                <div>
                    <label for="loginDialogPasswordInput">Password</label>
                    <input type="password" id="loginDialogPasswordInput" />
                </div>
                <button id="loginDialogLoginButton" >login</button>
            </form>
        {{/if}}
    </div>
    <div class="postComments" >
        {{#each comments.items}}
            {{> comment}}
        {{/each}}
    </div>
</li>