<li class="post" data-id="{{this.id}}" >
    <div class="postContent" >
        {{#if this.isEditing}}
            <div class="region, addLink">
                <div>
                    <input type="text" class="postAddressInput" placeholder="web address..." value="{{this.url}}" >
                    <input type="text" class="postTitleInput" placeholder="title..." value="{{this.title}}" >
                </div>
                <div>
                    <textarea class="postDescriptionInput" placeholder="description..." >{{this.description}}</textarea>
                </div>
                <div>
                    <button class="postCommitEditButton" >commit</button>
                    <button class="postCancelEditButton" >cancel</button>
                </div>
            </div>
        {{else}}
            <div class="postRating" >
                <div>
                    <button class="postRatingVoteUpButton" >&#x25B2</button>
                </div>
                <p>{{this.totalRating}}</p>
                <div>
                    <button class="postRatingVoteDownButton" >&#x25BC</button>
                </div>
            </div>

	        <div class="postDetail" >
                <header>
                    <a href="{{this.url}}" >{{this.title}}</a>
                </header>
                <div class="postDescription" >
                    <p>{{this.description}}</p>
                </div>
            </div>

            <div class="postInteraction">
                <div>
                    <button class="postDeleteButton" >X</button>
                </div>
                <div>
                    <button class="commentPostButton">C</button>
                </div>
                <div>
                    <button class="postEditButton">E</button>
                </div>
            </div>
        {{/if}}
    </div>
    <ul class="postComments" >
        {{#each comments.items}}
            {{> comment}}
        {{/each}}
    </ul>
</li>